.header{
    background: #000;
}

.header_inner{
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header_logo{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.confirm_content{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm_heading{
    margin-bottom: 40px;
    text-align: center;
}

.form{
    margin: 0 auto;
    width: 70%;
}

.confirm-table{
    border: 1px solid #ddd;
}

.confirm-table_inner{
    width: 100%;
}

.confirm-table_header{
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
}

.confirm-table_text{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table_text input{
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table_row:last-child .confirm-table_header,
.confirm-table_row:last-child .confirm-table_text{
    border-bottom-width: 0;
}

.form_button{
    margin-top: 30px;
    text-align: center;
}

.form_button-submit{
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}